/*-----------------------------------------
				Entête
-----------------------------------------*/

/*pour le logo tout en haut tout a gauche de la page*/
#img_logo
{
	margin-top: -5px; 
	margin-right: 20px;
}

#navbar
{
	border-radius: 0px;
	margin-bottom: -20px;	/*enlever l'espace entre la navbar et ce qu'il y a en dessous*/
	/*A VOIR PAR LA SUITE => background-color: transparent;*/
}

/*positionner les boutons dans les modales*/
.btn_retour
{
	float: right;
}

.btn_valider
{
	float: left;
}

/*-----------------------------------------
		Entête avec le titre
-----------------------------------------*/

#entête_img
{
	background-image: url('Image/monde4.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 300px;
}

#img_map_marqueur
{
	text-align: center;
  	margin-top: 80px;
}

.trait_entête{
	width: 15%;
	margin-top: -16px;
}

#texte_play
{
	text-align: center; 
	color: white; 
	font-size: 30px;
}

#titre_research
{
	text-align: center; 
	color: white; 
	margin-bottom: 30px;
}

/*-----------------------------------------
		Texte descriptif du jeu
-----------------------------------------*/

#texte_intro
{
	background-color: white;
}

/*-----------------------------------------
				Classement
-----------------------------------------*/

#classement
{
	background-color: #eceeef;
}

#onglet_classement
{
	margin-top: 70px;
}

#div_img_podium
{
	text-align: center;
	margin: 30px;
}

#img_podium
{
	width: 350px;
}

#container_classement
{
	background-color: #eceeef;
}

/*-----------------------------------------
				Footer
-----------------------------------------*/

footer
{
	margin-top: 30px;
	margin-bottom: 15px;
	
}

#texte_nom_dev
{
	float: right;
}

#texte_copyrigth
{
	float: left;
}