/*-----------------------------------------
				Entête
-----------------------------------------*/

/*pour le logo tout en haut tout a gauche de la page*/
#img_logo
{
	margin-top: -5px; 
	margin-right: 20px;
}

#navbar
{
	border-radius: 0px;
	margin-bottom: -20px;	/*enlever l'espace entre la navbar et ce qu'il y a en dessous*/
}

/*positionner les boutons dans les modales*/
.btn_retour
{
	float: right;
}

.btn_valider
{
	float: left;
}

/*-----------------------------------------
				Corps
-----------------------------------------*/

#img_monde
{
	width: 100%;
	height: 650px;
	z-index: -1;
}

#img_map_marqueur
{
	position:absolute;
  	top: 100px;
left: 50px;
}

#texte_intro
{
	background-color: white;
}

#classement
{
	background-color: #eceeef;
}

/*-----------------------------------------
				Footer
-----------------------------------------*/

footer
{
	margin-top: 15px;

}